@import "tokens";

.main-content-wrapper {
  position: relative;
}

.particles-canvas {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: $sys-dark-background;

  svg {
    width: 100%;
    height: 100%;
  }

  .particles {
    mix-blend-mode: color-dodge;

    path {
      transform-origin: 50% 50%;
      transform-box: fill-box;
    }
  }

  .particle {
    stroke-width: 70;
    stroke: $sys-dark-background;
  }
}

@media (max-width: 575.98px) {
  .particles-canvas {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .particles-canvas {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) {

}