@import "tokens";

.story-card {
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.tag-list {
  @include label-large;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .list-inline-item {
    padding: 5px 10px !important;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: $sys-dark-secondary-container;
    color: $sys-dark-on-secondary-container;
  }
}

.story-card-desc {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //background-color: darkcyan;
}

.story-card-header {
  padding: 8px 0;
  margin: 0;
}

@media (max-width: 575.98px) {
  .story-card {
    padding: 0 16px;
  }
  .story-card-body {
    padding: 12px 0;
  }
  .story-card-header {
    padding: 32px 0 0px;
    margin: 0;
  }
  .story-card-footer {
    padding: 32px 0 0;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .story-card {
    padding: 0 32px;
    justify-content: center;
  }
  .story-card-body {
    padding: 12px 0;
  }
  .story-card-header {
    padding: 32px 0 0px;
    margin: 0;
  }
  .story-card-footer {
    padding: 32px 0 0;
  }
}

@media (min-width: 992px) {
  .story-card {
    padding: 0 48px;
  }
  .story-card-body {
    padding: 24px 0;
  }
  .story-card-header {
    padding: 8px 0;
    margin: 0;
  }
  .story-card-footer {
    padding: 48px 0 0;
  }
}

.story-card-footer {
  display: flex;
  align-items: center;
}

.story-card-heading {
  margin: 0 0 12px;
}
.story-card-text {
  margin: 0;
}

.card-media {
  padding: 0;
  position: relative;
  .ratio-setter {
    position: relative;
    padding-bottom: 56.25%;
  }
  img {
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  iframe {
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.corners-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;

  .corner {

  }
  .corner-top-right {
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    .corner {
      position: relative;
      left: -100px;
      top: -100px;
    }
  }
  .corner-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    .corner {
      position: relative;
      left: -100px;
      top: -120px;
    }
  }
}

@media (max-width: 575.98px) {
  .story-card {
    flex-direction: column;
  }
}
@media (max-width: 575.98px) {
  .card-media img {
    width: 100% !important;
  }
}
@media (min-width: 768px) {
  .story-card-desc h2 {
    font-size: 1.6rem;
  }
}
@media (min-width: 300px) {
  .po-card-body-content-wrapper {
    padding: 1.2rem !important;
  }
}
//@media (min-width: 576px) {
//  .po-card-body-content-wrapper {
//    padding: 2rem !important;
//  }
//}
@media (min-width: 300px) {
  .story-card-desc .btn {
    display: block;
  }
}
@media (min-width: 576px) {
  .story-card-desc .btn {
    display: inline-block;
  }
}