@import 'tokens';
@import 'p-btn';
@import 'p-cta';
@import 'p-cursor';
@import 'p-navbar';
@import 'p-particles';
@import 'p-sections';
@import 'p-story';
@import 'p-story-card';

// Quick fix of legacy Bootstrap

root {
  --bs-primary: rgba(78,216,231,1);
  --bs-white: white;
  --bs-primary-rgb: rgba(78,216,231,1);
}

// End of quick fix

html {
  font-family: 'Montserrat', sans-serif !important;
}

body {
  overflow-x: hidden;
  cursor: none;
  font-family: 'Montserrat', sans-serif !important;
}

section {
  margin: 0;
  padding: 0;
}

.img {
  border-radius: 0;
}