@import 'tokens';

.img {
  border-radius: $border-radius !important;
}

.po-body {
  background-color: $dark-sudface;
  color: $dark-on-surface;
  --bs-primary: $dark-primary !important;
  --bs-primary-rgb: 129,243,255;
}

.hero-section {
  margin-top: 2rem;
}

.po-tag-list {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.po-tag-list .list-inline-item {
  padding: 5px 10px !important;
  margin-right: 8px;
  margin-bottom: 8px;
}

@media (max-width: 991.98px) {
  .po-tag-list {
    font-size: 12px;
  }
}

@media (max-width: 767.98px) {
  .po-tag-list {
    font-size: 14px;
  }
}

#hero-image {
  height: 500px;
  width: 500px;
  object-fit: cover;
  border-radius: $border-radius-lg !important;
}