// Colors
$dark-primary: #4ED8E7;
$dark-on-primary: #00363C;
$dark-background: #1C1C16;
$dark-sudface: #191C1D;
$dark-suface1: #1C2527;
$dark-surface2: #1D2B2D;
$dark-surface3: #1F3133;
$dark-surface4: #1F3335;
$dark-surface5: #203639;
$dark-on-surface: #BFC8CA;
$dark-outline: #BFC8CA;

// Roundings
$border-radius: 1.5rem;
$border-radius-lg: 4rem;
$border-radius-sm: .5rem;

:root {
  --dark-primary: #4ED8E7 !important;
  --dark-on-primary: #00363C !important;
  --dark-background: #1C1C16 !important;
  --dark-sudface: #191C1D !important;
  --dark-suface1: #1C2527 !important;
  --dark-surface2: #1D2B2D !important;
  --dark-surface3: #1F3133 !important;
  --dark-surface4: #1F3335 !important;
  --dark-surface5: #203639 !important;
  --dark-on-surface: #BFC8CA !important;
  --dark-outline: #BFC8CA !important;
}