
$primary: #4ED8E7;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-'Montserrat', sans-serif;;
$font-family-monospace: 'Montserrat', sans-serif;;
$headings-font-weight: 800;
$border-radius: 4rem;
$border-radius-lg: 1.5rem;
$border-radius-sm: 1.5rem;
$nav-tabs-border-radius: $border-radius / 2;
$input-bg: #1F3133;
$input-disabled-bg: #1C2527;
$input-color: #BFC8CA;
$input-border-color: #191C1D;
$custom-select-indicator-color: #BFC8CA;
$custom-file-disabled-bg: #1C2527;
$input-group-addon-bg: #1F3133;
$nav-tabs-border-color: #1F3133;
$nav-tabs-link-active-bg: #1C2527;
$nav-tabs-link-active-color: #4ED8E7;
$nav-tabs-link-active-border-color: #1F3133;
$nav-tabs-link-hover-border-color: #1F3133;
$breadcrumb-bg: #1F3133;
$pagination-bg: #1F3133;
$pagination-border-color: #1F3133;
$pagination-hover-bg: #1C2527;
$pagination-hover-border-color: #1C2527;
$pagination-disabled-bg: #1C2527;
$pagination-disabled-border-color: #1C2527;
$nav-pills-link-active-color: #00363C;
$pagination-active-color: #00363C;
$black: #00363C;
$headings-color: #4ED8E7;
$secondary: #203639;
$table-color: #BFC8CA;
$table-head-color: #BFC8CA;
$table-hover-bg: #1C2527;
$jumbotron-bg: #1C2527;
$card-bg: #1C2527;