@import "tokens";

.cta-new {
  display: grid;
  align-items: center;
  height: 400px;
}

.cta-wrapper-outer {
  padding: 20px;
  height: 60%;
}

.cta-wrapper-inner {
  height: 100%;
  min-width: 100px;
  display: grid;
  place-items: center;
  position: relative;
  cursor: none;
  background-color: transparent;
  border-color: transparent;
  text-decoration: none !important;
}

.cta-shape {
  overflow: visible;
  position: absolute;
  max-width: 100%;
}

.cta-shape .line {
  stroke: $sys-dark-primary;
  stroke-width: 70;
}

.cta-text {
  z-index: 5;
  text-align: center;
  h2 {
    color: $sys-dark-on-primary;
  }
  h5 {
    color: $sys-dark-on-primary;
  }
}

@media (max-width: 575.98px) {
  .cta-shape {
    height: 200%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .cta-shape {
    height: 200%;
  }
}

@media (min-width: 992px) {
  .cta-shape {
    height: 220%;
  }
}