@import "tokens";

$hero-media-size-lg: 600px;
$hero-media-size-md: 600px;
$hero-media-size-sm: 350px;

.hero-section {
  display: grid;
  align-items: center;
  position: relative;
  background-color: $sys-dark-primary-container;
  overflow: hidden;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .row {
    display: flex;
    justify-content: center;
  }
}

.hero-desc {
  text-align: center;
  z-index: 7;
  .hero-heading {
    color: $sys-dark-primary-container;
  }
  .hero-text {
    color: $sys-dark-primary-container;
  }
}

.hero-image-wrapper {
  position: absolute;
  bottom: -5px;
  z-index: 9;

  img {
    width: 100%;
  }
}

.shape-wrapper {
  position: absolute;
  bottom: -5px;

  .line {
    stroke: $sys-dark-on-primary-container;
    stroke-width: 10;
    z-index: 5;
  }
}

.hero-shape {
  height: 100%;
  overflow: visible;
}

// Story Section


@media (max-width: 575.98px) {
  .hero-section {
    height: 102vh;
    margin-top: 0;
  }
  .hero-image-wrapper, .shape-wrapper {
    width: $hero-media-size-sm;
    height: $hero-media-size-sm;
  }
  .hero-desc {
    padding-bottom: 10%;
  }
  .hero-shape {
    width: 100%;
  }
  .basic-section {
    padding: 48px 0;
  }
  .story-section {
    margin-top: 72px;
  }
  .cta-section {
    padding: 48px 0 24px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .hero-section {
    height: 100vh;
    margin-top: -100px;
  }
  .hero-image-wrapper, .shape-wrapper {
    width: $hero-media-size-md;
    height: $hero-media-size-md;
  }
  .hero-desc {
    padding-bottom: 25%;
  }
  .hero-shape {
    width: 100%;
  }
  .basic-section {
    padding: 96px 0;
  }
  .cta-section {
    padding: 192px 0 96px;
  }
}

@media (min-width: 992px) {
  .hero-section {
    height: 102vh;
    margin-top: -100px;
  }
  .hero-image-wrapper, .shape-wrapper {
    width: $hero-media-size-lg;
    height: $hero-media-size-lg;
  }
  .hero-desc {
    padding-bottom: 25%;
  }
  .hero-shape {
    width: 600px;
  }
  .basic-section {
    padding: 96px 0;
  }
  .cta-section {
    padding: 256px 0 96px;
  }
}