@import "tokens";

.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-rounded {
  border-radius: 0;
}

.navbar {
  //background-color: $read-only-dark-surface-opacity-0-08;
  background-color: $sys-dark-primary-container !important;
  border-radius: 0 !important;
  color: $sys-dark-on-surface !important;
  z-index: 8;
  position: absolute;
}

.navbar-toggler {
  border-radius: 0 !important;
}

@media (max-width: 575.98px) {
  .navbar {
    width: auto;
    margin: 0 !important;
    top: 0;
    right: 0;
    //transition: width 5s, height 10s,  linear;
  }
  .navbar-brand {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar {
    width: 80%;
    margin: 20px 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@media (min-width: 992px) {
  .navbar {
    width: 50%;
    margin: 20px 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
